.calculator {
    width: 80%; 
    max-width: 400px; 
    margin: 100px auto;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

button {
    width: 25%; 
    height: 50px;
    margin: 5px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .calculator {
        width: 90%;
    }

    button {
        width: 40%;
    }
}
